<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Medicamento</h3>
      </header>
      <div class="content">
        Medicamento alterado com sucesso.
      </div>

 <%-include('../rodape.ejs')%> 